<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>01-PrimerEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFormulario01</display-name>
    <servlet-name>ServletFormulario01</servlet-name>
    <servlet-class>com.curso.ServletFormulario01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario01</servlet-name>
    <url-pattern>/ServletFormulario01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumeroDeVecesServlet</display-name>
    <servlet-name>NumeroDeVecesServlet</servlet-name>
    <servlet-class>com.curso.NumeroDeVecesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumeroDeVecesServlet</servlet-name>
    <url-pattern>/NumeroDeVecesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario02</display-name>
    <servlet-name>ServletFormulario02</servlet-name>
    <servlet-class>com.curso.ServletFormulario02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario02</servlet-name>
    <url-pattern>/ServletFormulario02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario03</display-name>
    <servlet-name>ServletFormulario03</servlet-name>
    <servlet-class>com.curso.ServletFormulario03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario03</servlet-name>
    <url-pattern>/ServletFormulario03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario04</display-name>
    <servlet-name>ServletFormulario04</servlet-name>
    <servlet-class>com.curso.ServletFormulario04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario04</servlet-name>
    <url-pattern>/ServletFormulario04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransporteServlet</display-name>
    <servlet-name>TransporteServlet</servlet-name>
    <servlet-class>com.curso.TransporteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransporteServlet</servlet-name>
    <url-pattern>/TransporteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnlaceServlet</display-name>
    <servlet-name>EnlaceServlet</servlet-name>
    <servlet-class>com.curso.EnlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnlaceServlet</servlet-name>
    <url-pattern>/EnlaceServlet</url-pattern>
  </servlet-mapping>
</web-app>