<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InsertarServlet</display-name>
    <servlet-name>InsertarServlet</servlet-name>
    <servlet-class>com.entrega.controller.InsertarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarServlet</servlet-name>
    <url-pattern>/InsertarServlet</url-pattern>
  </servlet-mapping>
  <display-name>EntregaEjercicioJueves09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EliminarServlet</display-name>
    <servlet-name>EliminarServlet</servlet-name>
    <servlet-class>com.entrega.controller.EliminarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarServlet</servlet-name>
    <url-pattern>/EliminarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarServlet</display-name>
    <servlet-name>EditarServlet</servlet-name>
    <servlet-class>com.entrega.controller.EditarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarServlet</servlet-name>
    <url-pattern>/EditarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltrarProductosServlet</display-name>
    <servlet-name>FiltrarProductosServlet</servlet-name>
    <servlet-class>com.entrega.controller.FiltrarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltrarProductosServlet</servlet-name>
    <url-pattern>/FiltrarProductosServlet</url-pattern>
  </servlet-mapping>
</web-app>